body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(163, 157, 157);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

select, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
