body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f4ff;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #ceaaaa;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 50,0.1);
    width: 90%;
    max-width: 300px;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #333;
}

p {
    color: #555;
    margin-bottom: 1em;
    
}

label {
    display: block;
    text-align: left;
    margin-top: 1em;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 0.6em 1.2em;
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}
button:hover {
    background-color: #306acb;
}