body {
       font-family: Arial, Helvetica, sans-serif;
       margin: 0;
    

}

header {
    background-position:center;
    background-size:cover;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqPyD8YBboh3Kcthm8Z2MXn4jBFdUASmdd8g&s);
    color: rgb(247, 5, 5);
    padding: 20px;
    text-align: center;
    /*border: yellow 3px ;
    border-style: dotted;*/
    
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr) );
    gap: 10px;
    padding: 20px;
    background-color: rgb(170, 172, 165);
    text-align: center;

}

.content {
    background-color: rgb(236, 247, 247);
    padding: 20px;
    border-radius: 3px;
    color: rgb(80, 32, 250);
}
.titulo {
    color: black;
}

footer {
    background-color: black;
    text-align: center;
    width: 100%;
    color: rgb(76, 250, 8);
    padding: 10px;
    position: fixed;
    bottom: 0;

}